<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Responsive-products-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="h-svh">
        <div class="grid grid-cols-1 text-center mt-2">
            <h1 class="text-xl font-bold">Responsive Products card grid</h1>
            <p class="text-lg">Tailwind CSS</p>
        </div>
        <div class="grid grid-cols-3 grid-rows-2 mt-6 px-28 gap-x-10 gap-y-12">
            <div class="rounded-md shadow-2xl">
                <div>
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="rounded-md shadow-2xl">
                <div> 
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="rounded-md shadow-2xl">
                <div> 
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="rounded-md shadow-2xl">
                <div> 
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="rounded-md shadow-2xl">
                <div> 
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="rounded-md shadow-2xl">
                <div> 
                    <img class="h-[200px] w-full rounded-t-md" src="D:\Tailwind_Css\Components\assets\i2.jpg" alt="">
                </div>
                <div class="px-3 py-3">
                    <p class="text-sm opacity-70">BRAND</p>
                    <p class="text-lg font-bold">Product Name</p>
                    <br>
                    <div class="flex justify-between">
                        <p class="font-bold">$149 <del class="opacity-70">$199</del></p>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>