<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero</title>
    <link rel="stylesheet" href="Hero.css">
</head>
<body>
    <div class="flex h-svh">
        <div class="w-3/5 p-8">        
            <h1 class="text-2xl font-bold">Plant.</h1>
            <div class="h-[561px] flex flex-col justify-center items-start">
                <h1 class="text-4xl font-bold">Find your <span class="text-green-700">greeny</span> stuff for your room</h1>
                <p class="pt-3 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ab nulla quod molestiae autem voluptates fugiat hic voluptas aut at eum quas.</p>
                <button class="bg-green-500 text-white py-1 px-4 my-4 rounded">Learn More</button>
            </div>
        </div>
        <div class="w-2/5">
            <img class="w-full h-full" src="D:\Tailwind_Css\Components\assets\Hero.jpg" alt="Image">
        </div>
    </div>
</body>
</html>