<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Hero-section-with-a-gradient-background.css">
</head>
<body>
    <div class="h-svh relative">
        <img class="h-svh w-full brightness-50" src="D:\Tailwind_Css\Components\assets\photo_2024-06-13_10-09-03.jpg" alt="">
        <div class="absolute bottom-[240px] left-[320px] text-center">
            <h1 class="text-4xl text-white font-bold text-red-400">Welcome to our Awesome Website</h1>
            <p class="text-white text-sm">Discover amazing features and service that await you.</p>
            <br>
            <button class="bg-yellow-400 text-white text-sm py-2 px-6 rounded-full hover:bg-yellow-600">Get Started</button>
        </div>
    </div>
</body>
</html>