<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div>
        <nav class="flex justify-between px-6 py-2 sm:px-10 sm:py-3">
            <div>
                <h1 class="text-lg font-medium">Acme inc.</h1>
            </div>
            <div class="hidden sm:flex gap-5">
                <a class="opacity-70" href="">AboutUs</a>
                <a class="opacity-70" href="">Treatments</a>
                <a class="opacity-70" href="">Blog</a>
                <a class="opacity-70" href="">Contact Us</a>
            </div>
            <div class="sm:hidden">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
        <div class="grid grid-cols-1 mt-6 ml-10 lg:flex lg:ml-56 lg:mt-20 lg:gap-3">
            <div class="w-[38%]">
                <p class="text-base text-blue-900 font-medium">Everything you need</p>
                <h1 class="text-2xl font-bold pt-1">All-in-one platform</h1>
                <p class="pt-4 text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</p>
            </div>
            <div class="">
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Invite team members</h3>
                        <p class="text-xs">Return repellat labore necessitatibus reprehenderit molestiae praesentium.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Keyboard shortcuts</h3>
                        <p class="text-xs">In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente dicta laboriosam.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Notifications</h3>
                        <p class="text-xs">Quos inventore harum enim nesciunt. Aut repellat rerum omnis adipisci.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Reporting</h3>
                        <p class="text-xs">Eos laudantium repellat sed architecto earum unde incidunt. Illum sit dolores voluptatem.</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">List view</h3>
                        <p class="text-xs">Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Calendars</h3>
                        <p class="text-xs">Sed rerum sunt dignissimos ullam. Iusto iure occaecati voluptate eligendi fugiat sequi.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Boards</h3>
                        <p class="text-xs">Quae sit sunt excepturi fugit veniam voluptatem ipsum commodi.</p>
                    </div>
                </div>
                <br>
                <div class="flex gap-5">
                    <div>
                        <i class="fa-solid fa-check"></i>
                    </div>
                    <div class="">
                        <h3 class="font-semibold">Mobile app</h3>
                        <p class="text-xs">Nulla est saepe accusamus nostrum est est. Fugit voluptatum omnis quidem voluptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>