<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Product-Page_1.css">
</head>
<body>
    <footer class="flex justify-between py-5 px-32 ">
        <div>
            <p class="text-xl font-bold">WATCH.ME</p>
        </div>
        <div class="w-2/5 flex justify-between">
            <a href="#">HOME</a>
            <a href="#">WATCH</a>
            <a href="#">PRODUCT</a>
            <a href="#">CONTACT</a>
            <a href="#">CARRER</a>
        </div>
    </footer>
    <div class="flex justify-evenly py-16">
        <div class="w-[38%]">
            <h1 class="text-7xl font-black">BE ON</h1>
            <h1 class="text-6xl font-bold">TIME</h1>
            <p class="text-[13px]">Dimension of reality that makes change possible and understandable. An indefinite and homogeneous environment in which natural events and human existence take place.</p>
            <button class="bg-pink-500 text-white text-xs py-2 px-4 rounded-md">GET STARTED</button>
            <button class="text-pink-500 text-xs py-2 px-4 rounded-md border-2 border-pink-500">READ MORE</button>
        </div>
        <div class="w-[30%]">
            <img class="h-80" src="D:\Tailwind_Css\Components\assets\watch.jpg" alt="Image">
        </div>
    </div>
</body>
</html>