<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Landing-page.css">
</head>
<body>
    <div class="flex bg-blue-900 justify-between px-32 py-8">
        <div class="pt-16">
            <h1 class="text-3xl text-white font-semibold">Discover the world's best coffee</h1>
            <p class="text-xs text-white">From hand-picked farms to your cup, We source the finest beans and roast them to perfection.</p>
            <button class="text-xs text-blue-900 bg-white rounded-full font-bold px-3 py-1">Shop now</button>
        </div>
        <div class="">
            <img class="h-64 w-96" src="coffe.jpg" alt="">
        </div>
    </div>
    <div class="py-16 px-24">
        <p class="font-bold pb-5">Featured products</p>
        <div class="grid grid-cols-3 grid-row-2 gap-6 ">
            <div class="shadow-lg">
                <div class="">
                    <img class="h-48 w-full rounded-t" src="coffe.jpg" alt="">
                </div>
                <div class="card1 p-3">
                    <p class="text-lg font-bold">Single Origin Blend</p>
                    <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deserunt, dolor nostrum incidunt adipisci soluta!</p>
                    <br>
                    <div class="flex justify-between">
                        <div>$14.99</div>
                        <div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="shadow-lg">
                <div class="">
                    <img class="h-48 w-full rounded-t" src="coffe.jpg" alt="">
                </div>
                <div class="card1 p-3">
                    <p class="text-lg font-bold">Single Origin Blend</p>
                    <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deserunt, dolor nostrum incidunt adipisci soluta!</p>
                    <br>
                    <div class="flex justify-between">
                        <div>$14.99</div>
                        <div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="shadow-lg">
                <div class="">
                    <img class="h-48 w-full rounded-t" src="coffe.jpg" alt="">
                </div>
                <div class="card1 p-3">
                    <p class="text-lg font-bold">Single Origin Blend</p>
                    <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deserunt, dolor nostrum incidunt adipisci soluta!</p>
                    <br>
                    <div class="flex justify-between">
                        <div>$14.99</div>
                        <div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="shadow-lg">
                <div class="">
                    <img class="h-48 w-full rounded-t" src="coffe.jpg" alt="">
                </div>
                <div class="card1 p-3">
                    <p class="text-lg font-bold">Single Origin Blend</p>
                    <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deserunt, dolor nostrum incidunt adipisci soluta!</p>
                    <br>
                    <div class="flex justify-between">
                        <div>$14.99</div>
                        <div>
                            <button>Add to cart</button>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</body>
</html>