<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="h-auto bg-purple-800 mt-8 pt-16 pb-7">
        <div class="flex justify-evenly px-60 pb-20">
            <div class="w-[20%]">
                <h1 class="text-xl font-bold text-white"><span class="text-orange-500">YOUR</span>LOGO</h1>
                <br>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sed. Laudantium ut dolorem magni odit corporis, ex nisi? Adipisci, similique.</p>
                <br>
                <div class="flex gap-5">
                    <img class="text-purple-800" src="" alt="a">
                    <img class="text-purple-800" src="" alt="a">
                    <img class="text-purple-800" src="" alt="a">
                    <img class="text-purple-800" src="" alt="a">
                    <img class="text-purple-800" src="" alt="a">
                </div>
            </div>
            <div>
                <div class="flex justify-center">
                    <div class="flex justify-center items-center">
                        <i class="fa-solid fa-phone text-lg"></i>
                    </div>
                    <div>
                        <p class="text-sm font-semibold text-white">+91 1800123444</p>
                        <p class="text-white text-xs">Support Number</p>
                    </div>
                </div>
                <br>
                <div class="flex justify-center">
                    <div class="flex justify-center items-center">
                        <i class="fa-regular fa-envelope text-lg"></i>
                    </div>
                    <div>
                        <p class="text-sm font-semibold text-white">help@lorem.com</p>
                        <p class="text-white text-xs">Support Email</p>
                    </div>
                </div>
                <br>
                <div class="flex justify-center">
                    <div class="flex justify-center items-center">
                        <i class="fa-solid fa-location-dot text-lg"></i>
                    </div>
                    <div>
                        <p class="text-sm font-semibold text-white">help@lorem.com</p>
                        <p class="text-white text-xs">Address</p>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="font-semibold text-white text-lg">Pages</h1>
                <div class="text-white text-base">
                    <p>Home</p>
                    <p>News</p>
                    <p>Contact</p>
                    <p>Plans and pricing</p>
                    <p>Terms and conditions</p>
                    <p>Privacy policy</p>
                </div>
            </div>
            <div>
                <h1 class="font-semibold text-white text-lg">Download the app</h1>
                <br>
                <img class="text-purple-800" src="" alt="a">
                <br>
                <img class="text-purple-800" src="" alt="a">
            </div>
        </div>
        <div class="ml-[280px]">
            <hr class="w-[72%]">
        </div>
        <br>
        <div class="text-center">
            <p class="text-white">@Copyright 2024. All Right Reserved by YOUR WEBSITES. PVT. LTD</p>
        </div>
    </div>
</body>
</html>