<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Responsive-user-avatars-grid.css">
</head>
<body>
    <div class="flex flex-col justify-center items-center h-svh">
        <div class="relative right-[100px]">
            <h1 class="text-xl font-bold">Trusted by</h1>
        </div>
        <br>
        <div class="flex justify-center items-center">
            <img class="z-0  rounded-full w-14 relative left-6 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p1.jpg" alt="Image">
            <img class="z-10 rounded-full w-14 relative left-3 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p2.jpg" alt="Image">
            <img class="z-20 rounded-full w-14 relative left-1 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p3.jpg" alt="Image">
            <img class="z-30 rounded-full w-14 relative right-1 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p4.jpg" alt="Image">
            <img class="z-40 rounded-full w-14 relative right-3 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p5.jpg" alt="Image">
            <img class="z-50 rounded-full w-14 relative right-6 border-2 border-white" src="D:\Tailwind_Css\Components\assets\p1.jpg" alt="Image">
            <p>Join 5,000+ other members</p>
        </div>
    </div>
</body>
</html>