<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Responsive-registration-form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="bg-gray-200">
    <div class="h-svh mx-48 my-3 rounded flex bg-white">
        <div class="w-[40%] text-center py-6 px-14">
            <p class="text-sm text-purple-800">templatana</p>
            <br>
            <div class="">
                <h1 class="text-lg font-bold">Sign up</h1>
                <br>
                <div class="flex gap-3 bg-purple-200 px-7 rounded py-3 mb-3">
                    <img class="rounded-full h-5" src="D:\Tailwind_Css\Components\assets\google.jpeg" alt="">
                    <p class="text-xs font-bold">Sign Up with Google</p>
                </div>
                <div class="flex gap-3 bg-purple-200 px-7 py-3 rounded">
                    <img class="rounded-full h-5" src="D:\Tailwind_Css\Components\assets\github.jpeg" alt="">
                    <p class="text-xs font-bold">Sign Up with GitHub</p>
                </div>
            </div>
            <br>
            <div class="flex">
                <div class="w-[17%] flex flex-col justify-end">
                    <hr class="">
                </div>
                <div>
                    <p>Or sign up with e-mail</p>
                </div>
                <div class="w-[17%] flex flex-col justify-end">
                    <hr>
                </div>
            </div>
            <br>
            <div class="mb-3">
                <input class="bg-gray-200 text-xs font-bold py-2 pr-16 pl-5 rounded" type="email" name="" id="" placeholder="Email">
            </div>
            <div class="mb-3">
                <input class="bg-gray-200 text-xs font-bold py-2 pr-16 pl-5 rounded" type="password" name="" id="" placeholder="Password">
            </div>
            <div class="text-xs font-bold flex bg-purple-800 text-white justify-center items-center py-2 rounded gap-2">
                <i class="fa-solid fa-user-plus"></i>
                <p>Sign UP</p>
            </div>
            <br>
            <div>
                <p class="text-[9px] opacity-70">I agree to abide by templatana's <span class="border-b-2 border-dashed border-black opacity-70">Terms of Service</span> and its <span class="border-b-2 border-dashed border-black opacity-70">Privacy Policy</span></p>
            </div>
        </div>
        <div class="bg-red-900 w-[60%]">
            <img class="h-full w-full" src="D:\Tailwind_Css\Components\assets\Responsive-registration-form.png" alt="">
        </div>
    </div>
</body>
</html>