<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Product-feature-section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="flex justify-between ml-48 mr-4 mt-8">
        <div class="w-[45%]">
            <p class="text-xs text-purple-900 font-semibold">Produce faster</p>
            <h1 class="text-3xl font-bold">An Enterprise API</h1>
            <br>
            <p class="opacity-70 font-semibold">We've built an API that allows you to scale your podcast production workflow.</p>
            <br>
            <div class="flex justify-evenly w-[100%]">
                <i class="fa-solid fa-upload"></i>
                <p class="text-sm"><span class="font-bold">Template driven</span><span class="opacity-70"> Inspired by Sendgrid, Mailchimp, and Postmark, we allow you to create and remplated to your media.</span></p>
            </div>
            <br>
            <div class="flex justify-evenly w-[90%]">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p class="text-sm"><span class="font-bold">Simple, REST</span><span class="opacity-70"> A simple REST API that allows you to create, generate, and manage you content.</span></p>
            </div>
            <br>
            <div class="flex justify-evenly w-[100%]">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <p class="text-sm"><span class="font-bold">Developer friendly</span><span class="opacity-70"> Document and easy to use, we make it easy to integrate with your existing workflow.</span></p>
            </div>
            <br>
            <div class="flex justify-start gap-5">
                <button class="bg-purple-800 text-white text-[10px] font-medium px-3 py-1 rounded">Start for free</button>
                <button class="text-[10px] font-medium">Schedule a demo <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="w-[50%] h-[500px]">
            <img class="rounded-md" src="D:\Tailwind_Css\Components\assets\laptop.jpg" alt="">
        </div>
    </div>
</body>
</html>