<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="File-upload-form.css">
</head>
<body>
    <div class="h-svh flex justify-center mt-2">
        <div class="">
            <p class="text-sm font-bold">Send files to this email:</p>
            <div class="border-2 border-gray-100 rounded-md mt-2">
                <input class="py-1 pl-5 pr-40 rounded text-sm" type="email" name="" id="" placeholder="example@gmail.com" required>
            </div>
            <br>
            <h1 class="text-lg font-bold">Upload File</h1>
            <div class="border-2 border-gray-100 rounded-md flex flex-col justify-center items-center py-8 mt-2">
                <h1 class="text-lg font-bold">Drop files here</h1>
                <p class="opacity-60 font-semibold">Or</p>
                <input type="file" name="" id="" class="ml-24">
            </div>
            <div class="flex justify-between bg-gray-200 rounded px-6 py-2 mt-6">
                <p class="text-base font-bold">banner-design.png</p>
                <p class="text-lg font-bold">X</p>
            </div>
            <div class="bg-gray-200 rounded px-6 py-2 pb-5 mt-3">
                <div class="flex justify-between">
                    <p class="text-base font-bold">banner-design.png</p>
                    <p class="text-lg font-bold">X</p>
                </div>
                <div class="bg-gray-400 rounded-full mt-1">
                    <div class="bg-blue-700 h-1 w-[75%] rounded-full"></div>
                </div>
            </div>
            <button class="text-xs text-white font-bold bg-blue-700 w-full py-2 mt-4 rounded">Send File</button>
        </div>
    </div>
</body>
</html>  