<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Call-to-action-section.css">
</head>
<body>
    <div class="flex justify-center mt-10">
        <img class="rounded-full h-9 relative top-2.5 left-3" src="D:\Tailwind_Css\Components\assets\p4.jpg" alt="Image">
        <img class="rounded-full h-12 relative left-2 top-2 z-20" src="D:\Tailwind_Css\Components\assets\p3.jpg" alt="Image">
        <img class="rounded-full h-16 relative z-40" src="D:\Tailwind_Css\Components\assets\p5.jpg" alt="Image">
        <img class="rounded-full h-12 relative right-2 top-2 z-20" src="D:\Tailwind_Css\Components\assets\p1.jpg" alt="Image">
        <img class="rounded-full h-9 relative top-2.5 right-3" src="D:\Tailwind_Css\Components\assets\p2.jpg" alt="Image">
    </div>
</body>
</html>