@tailwind base;
@tailwind components;
@tailwind utilities;


.image-gallery-height{
    height: calc(100svh - 112px);
}

.card{
    transition: all 0.6s ease-in-out;
}
.card img{
    transition: all 0.6s ease-in-out;
}

.card:hover{
    scale: 1.1;
}

.card:hover img{
    scale: 1.9;
}