<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Frequently-Asked-Questions-section.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="flex justify-center">
        <div class="w-[40%] pt-5">
            <head>
                <p class="text-xs opacity-75 text-center">F.A.Q</p>
                <h1 class="text-3xl font-extrabold text-center">Frequently Asked <span class="text-purple-950">Question</span></h1>
            </head>
            <br>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-900 rounded-full w-[8%] p-2 px-3.5 text-white">
                    <i class="fa-solid fa-question"></i>
                </div>
                <div class="bg-gray-200 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">What could possibly be your first question?</p>
                </div>
            </div>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-100 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus libero quam, dignissimos iusto omnis officiis laboriosam minus facilis nisi adipisci animi unde. Autem, iure beatae!</p>
                </div>
                <div class="bg-purple-900 rounded-full w-[8%] h-10 p-2 px-3 text-white">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
            </div>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-900 rounded-full w-[8%] p-2 px-3.5 text-white">
                    <i class="fa-solid fa-question"></i>
                </div>
                <div class="bg-gray-200 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">What could possibly be your first question?</p>
                </div>
            </div>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-100 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus libero quam, dignissimos iusto omnis officiis laboriosam minus facilis nisi adipisci animi unde. Autem, iure beatae!</p>
                </div>
                <div class="bg-purple-900 rounded-full w-[8%] h-10 p-2 px-3 text-white">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
            </div>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-900 rounded-full w-[8%] p-2 px-3.5 text-white">
                    <i class="fa-solid fa-question"></i>
                </div>
                <div class="bg-gray-200 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">What could possibly be your first question?</p>
                </div>
            </div>
            <br>
            <div class="flex gap-3">
                <div class="bg-purple-100 py-2.5 pl-6 w-[92%] rounded-sm">
                    <p class="text-sm font-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus libero quam, dignissimos iusto omnis officiis laboriosam minus facilis nisi adipisci animi unde. Autem, iure beatae!</p>
                </div>
                <div class="bg-purple-900 rounded-full w-[8%] h-10 p-2 px-3 text-white">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>