<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Tailwind-image-gallery.css">
</head>
<body>
    <div class="px-28">
        <div class="h-28 grid grid-cols-9 py-7 px-7">
            <div class="flex items-center text-xl font-bold">
                <p>Gallery</p>
            </div>
            <div class="col-span-7">
                <p class="text-xs opacity-70">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi esse culpa. at nemo qui corrupti? Alias quia debitis <br> exercitationem voluptatem, doloremque eos atque?</p>
            </div>
            <div class="flex items-center justify-end">
                <p class="border border-black rounded px-3 py-1 text-sm hover:bg-fuchsia-600 hover:text-white">More</p>
            </div>
        </div>
        <div class="grid grid-cols-3 grid-rows-2 px-7 gap-7 image-gallery-height py-8">
            <div class="">
                <img class="h-full w-full rounded-2xl" src="D:\Tailwind_Css\Components\assets\photo_2024-06-13_09-21-39_01.jpg" alt="Image">
            </div>
            <div class="col-span-2">
                <img class="h-full w-full  rounded-xl" src="D:\Tailwind_Css\Components\assets\photo_2024-06-13_09-21-55_02.jpg" alt="Image">
            </div>
            <div class="col-span-2"> 
                <img class="h-full w-full  rounded-xl" src="D:\Tailwind_Css\Components\assets\photo_2024-06-13_09-22-07_03.jpg" alt="Image">
            </div>
            <div class="">
                <img class="h-full w-full rounded-xl" src="D:\Tailwind_Css\Components\assets\photo_2024-06-13_09-22-16_04.jpg" alt="Image">
            </div>
        </div>
    </div>
</body>
</html>